<form action="/clue3" method="post">
<h1>Riddle 3!</h1>
<p>What is the creature that walks on four legs in the morning, two legs at noon and three in the evening?</p>

  <input class="form-check-input" type="radio" name="riddle3" id="cat" value='1'>
  <label class="form-check-label" for="riddle3">Cat</label>
  <br>
  <input class="form-check-input" type="radio" name="riddle3" id="dog" value='2'>
  <label class="form-check-label" for="riddle3">Dog</label>
  <br>
  <input class="form-check-input" type="radio" name="riddle3" id="man" value='3'>
  <label class="form-check-label" for="riddle3">Man</label>
  <br>

  <button type="submit" class="btn btn-danger" name="Submit">Submit!</button>
  <br>
</form>

<br>
<br>

<p>Look in the mirror dummy.</p>
