<form action="/clue2" method="post">
<h1>Riddle 2!</h1>
<p>What kind of men are always above board?</p>

  <input class="form-check-input" type="radio" name="riddle2" id="chess" value='1'>
  <label class="form-check-label" for="riddle2">Chessmen</label>
  <br>
  <input class="form-check-input" type="radio" name="riddle2" id="sea" value='2'>
  <label class="form-check-label" for="riddle2">Sea Men</label>
  <br>
  <input class="form-check-input" type="radio" name="riddle2" id="grumpy" value='3'>
  <label class="form-check-label" for="riddle2">Grumpy Men</label>
  <br>
    <button type="submit" class="btn btn-danger" name="Submit">Submit!</button>
  <br>
</form>

<br>
<br>

<p>You can fit them in your pocket.</p>
