<h1>Riddle 1!</h1>
<p>Everyone has me but nobody can lose me. What am I?</p>

<form action="/output1" method="post">
<div class="form-check">
  <input class="form-check-input" type="radio" name="riddle1" id="love" value='1'>
  <label class="form-check-label" for="riddle1">
    Love
  </label>
<br>
  <input class="form-check-input" type="radio" name="riddle1" id="shadow" value='2'>
  <label class="form-check-label" for="riddle1">
    A Shadow
  </label>
<br>
  <input class="form-check-input" type="radio" name="riddle1" id="personality" value='3'>
  <label class="form-check-label" for="riddle1">
    A personality
  </label>
<br>
  <button type="submit" class="btn btn-danger" name="Submit">Submit!</button>
<br>
</form>
