<h1> Enter in your shipping details <i class="em em-truck"></i></h1>

  <form action="/output">
      <label for="height">Height</label>
      <input type="text" name="height" id="height">
 <br>
      <label for="length">Length</label>
      <input type="text" name="length" id="length">
<br>
      <label for="width">Width</label>
      <input type="text" name="width" id="width">
<br>
      <label for="weight">Weight</label>
      <input type="text" name="weight" id="weight">

<br>

      <button type="submit" name="Submit">Submit!</button>
    </div>
  </form>
