<h1> Enter in your shipping details <i class="em em-truck"></i></h1>

  <form action="/output">
    <h3>Enter dimensions</h3>
    <div class="form-group">
      <label for="height">Height</label>
      <input type="text" name="height" id="height">
      <label for="length">Length</label>
      <input type="text" name="length" id="length">
      <label for="width">Width</label>
      <input type="text" name="width" id="width">
      <label for="weight">Weight</label>
      <input type="text" name="weight" id="weight">
    </div>
    <label for="distance">How far are we shipping it?</label>
    <input type="text" name="distance" id="distance">
<br>
      <label for="speed">In how many days do you need it?</label>
      <input type="text" name="speed" id="speed">       
<br>
      <button type="submit" name="Submit">Submit!</button>
    </div>
  </form>
